*.exe
*.json
*.class
.vscode
bin/
/Esame10-01-14/ParteC/RPC_xFile.h
/Esame10-01-14/ParteC/RPC_xFile_clnt.c
/Esame10-01-14/ParteC/RPC_xFile_svc.c
/Esame10-01-14/ParteC/RPC_xFile_xdr.c
/Esame24-01-18/ParteC/RPC_xFile.h
/Esame24-01-18/ParteC/RPC_xFile_clnt.c
/Esame24-01-18/ParteC/RPC_xFile_svc.c
/Esame24-01-18/ParteC/RPC_xFile_xdr.c
/Esame09-01-19/ParteC/RPC_xFile.h
/Esame09-01-19/ParteC/RPC_xFile_clnt.c
/Esame09-01-19/ParteC/RPC_xFile_svc.c
/Esame09-01-19/ParteC/RPC_xFile_xdr.c
